body, main{
  display: flex;
}

body{
  flex-direction: column;
  background-color: #f5f5f5;
  color: #333;
}

header, footer {
  background-color: #003366;
  color: white;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  margin-right: 1rem;
}


main{
  flex-direction: row;
  flex: auto;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

article, aside {
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
